* {
  margin: 0;
  padding: 0;
}
:root {
  --main-grey-color: #999999;
}
body {
  font-family: Lato, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}
h1,
p {
  margin-bottom: 20px;
}
.page-header {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  height: 605px;
  max-height: 605px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.page-header-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-header-flex div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.page-header .filter::after {
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.dotts::after,
.dotts::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 4px 15px;
  -moz-border-radius: 2.5px;
  -webkit-border-radius: 2.5px;
  border-radius: 7.5px;
  background-color: var(--main-grey-color);
}
.lines {
  margin-bottom: 75px;
  left: 20px;
}
.lines::after,
.lines::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 3px;
  margin: 3px 20px;
  border-top: 1px solid var(--main-grey-color);
  border-bottom: 1px solid var(--main-grey-color);
}
button {
  text-transform: uppercase;
  padding: 18px 40px;
  background-color: transparent;
  border: 1px solid #999;
  color: #f5f5f5;
}
ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
  text-transform: uppercase;
  color: #999;
  margin: 30px 0;
}
a {
  text-decoration: none;
  color: #999;
}
a :active,
button:hover,
li :hover {
  color: #2881b9;
  cursor: pointer;
}
ul:first-child {
  margin-left: 10%;
}
ul:last-child {
  margin-right: 10%;
}
a img {
  position: relative;
  bottom: 6px;
}
.firstSection {
  background-image: url(/img/background.jpg);
  height: 436px;
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.firstSection div,
.secondSection div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  color: #606060;
}
.line {
  width: 150px;
  max-width: 150px;
  height: 3px;
  border-top: 1px solid #999;
  margin-top: 40px;
  margin-bottom: 35px;
}
p {
  text-align: center;
}
h2 {
  color: #000;
  font-size: 32px;
  font-weight: 500;
}
.iconsLine {
  height: 85px;
  display: flex;
  justify-content: space-around;
}
.iconsLine div {
  display: flex;
  flex-direction: column;
}
.iconsLine div:hover {
  color: #2881b9;
  cursor: pointer;
}
.iconsLine .fas {
  font-size: 50px;
  font-weight: 600;
}
.iconsLine p {
  margin-top: 15px;
}
.iconsLine p:hover {
    color: #2881b9;
  }
.secondSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
section p {
  color: #000;
}
footer {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
}
.social .fab {
  color: var(--main-grey-color);
  font-size: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.rights p {
  font-size: 12px;
  color: var(--main-grey-color);
  text-align: right;
  margin-right: 10%;
  position: relative;
  bottom: 22px;
  float: right;
}
